<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ground.SLDPRT">
  <link
    name="ground.SLDPRT">
    <inertial>
      <origin
        xyz="2.1279E-16 -1.29611545234633E-17 0.0015"
        rpy="0 0 0" />
      <mass
        value="8.1" />
      <inertia
        ixx="1.5188"
        ixy="-1.1685E-16"
        ixz="-7.15672182220724E-33"
        iyy="2.187"
        iyz="9.29966065092713E-17"
        izz="3.7058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://ground.SLDPRT/meshes/ground.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.02 0.39 0.02 1.0" />
        <texture
          filename="package://ground.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://ground.SLDPRT/meshes/ground.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>