<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="front_boundary_xieku.SLDPRT">
  <link
    name="front_boundary_xieku.SLDPRT">
    <inertial>
      <origin
        xyz="0.1585 -0.01 0.05"
        rpy="0 0 0" />
      <mass
        value="0.634" />
      <inertia
        ixx="0.00054947"
        ixy="-5.7772E-20"
        ixz="-3.8821E-21"
        iyy="0.0058375"
        iyz="-3.10560171329355E-20"
        izz="0.0053303" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://front_boundary_xieku.SLDPRT/meshes/front_boundary_xieku.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://front_boundary_xieku.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://front_boundary_xieku.SLDPRT/meshes/front_boundary_xieku.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>