<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="front_boundary_shuku.SLDPRT">
  <link
    name="front_boundary_shuku.SLDPRT">
    <inertial>
      <origin
        xyz="0.14 -0.01 0.05"
        rpy="0 0 0" />
      <mass
        value="0.56" />
      <inertia
        ixx="0.00048533"
        ixy="-5.5644E-20"
        ixz="-3.429E-21"
        iyy="0.0041253"
        iyz="-2.57325823256212E-20"
        izz="0.0036773" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://front_boundary_shuku.SLDPRT/meshes/front_boundary_shuku.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
        <texture
          filename="package://front_boundary_shuku.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://front_boundary_shuku.SLDPRT/meshes/front_boundary_shuku.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>